<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueJS</title>
</head>
<body>
    <div id="app">
        <input type="checkbox" v-model="checked">
        <p>{{ message }}</p>
    </div>
    <div id="app1">
        <label><input type="radio" value="First" v-model='picked'>Первый</label>
        <label><input type="radio" value="Second" v-model='picked'>Второй</label>
        <p>{{ picked }}</p>
    </div>
    <div id="app2">
        <select v-model="language">
            <option>Java-Script</option>
            <option>Python</option>
            <option>C++</option>
        </select>

    </div>
    



    <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
    <script>
        let vm = new Vue({          
            el: '#app1',
            data: {
                picked: 'Second'
            }


        })
        let vm1 = new Vue({
            el: '#app2',
            data: {
                language: 'Python'
            }
        })
        

    </script>
</body>
</html>