<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueJS</title>
</head>
<body>
    <div id="app">
        {{message}}
    </div>
    <p>===============================================================</p>
    <div id="app01">
        <input type="text" v-model="message">
        <p>{{message}}</p>
    </div>
    <p>===============================================================</p>
    <div id="app1">
        <input type="checkbox" v-model="checked">
        <p>{{ checked }}</p>
    </div>
    <p>===============================================================</p>
    <div id="app2">
        <label><input type="radio" value="First" v-model='picked'>Первый</label>
        <label><input type="radio" value="Second" v-model='picked'>Второй</label>
        <p>{{ picked }}</p>
    </div>
    <p>===============================================================</p>
    <div id="app3">
        <select v-model="language">
            <option>Java-Script</option>
            <option>Python</option>
            <option>C++</option>
        </select>
    </div>
    

    <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
    <script>
        let vm = new Vue({
            el: "#app",
            data: { message: "Hello, Vue.js" }
        })
        let vm01 = new Vue({
            el: "#app01",
            data: {message: "Текст"}     
            
        })
        let vm1 = new Vue({
            el:"#app1",
            data: {checked: false}
        })

        let vm2 = new Vue({          
            el: '#app2',
            data: { picked: 'Second'}

        })
        let vm3 = new Vue({
            el: '#app3',
            data: { language: 'Python' }
        })
        

    </script>
</body>
</html>